@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --maincolor: #65c0ba;
  --primewhite: #fff;
  --footer: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Mukta Mahee", sans-serif;
}
.font18 {
  font-size: 18px;
}
.font32 {
  font-size: 32px;
}
::selection {
  background-color: var(--maincolor);
  color: var(--primewhite);
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button,
input {
  background-color: transparent;
  border: none;
}
.cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../Images/illustrations/hero_1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headfont {
  font-family: "Abril Fatface", serif;
}
.maincolor {
  color: var(--maincolor);
}
.exp-img div img {
  width: 100px;
}
.deso {
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  background-color: var(--maincolor);
  margin-top: -300px;
}
.footer {
  background-color: var(--footer);
}
.colorlib-a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.colorlib-a:hover {
  color: var(--primewhite);
  border-bottom: 1px solid var(--primewhite);
}
.colorlib-btn {
  color: var(--primewhite);
}
.colorlib-btn:hover {
  background-color: var(--primewhite);
  color: var(--footer);
}
.play-div {
  border: 2px solid rgba(178, 176, 176, 0.5);
}
.play-a:hover .play-div {
  border: 2px solid var(--footer);
}
.play-icon {
  color: var(--maincolor);
}
.play-a:hover .play-icon {
  color: var(--footer);
}
.places,
.services {
  color: var(--footer);
}
.places:hover,
.services:hover {
  color: var(--maincolor);
}
.links {
  color: rgba(255, 255, 255, 0.7);
}
.links:hover {
  color: var(--primewhite);
}
.social i {
  color: rgba(255, 255, 255, 0.7);
}
.social i:hover {
  color: var(--primewhite);
}
@media (min-width: 768px) {
  .exp {
    width: 65%;
  }
}
@media (min-width: 992px) {
  .exp {
    width: 55%;
  }
  .exp p {
    font-size: 20px;
  }
  .img-1-1 {
    width: 85%;
  }
  .carousel-item img,
  .testmonial,
  .destiny {
    width: 80%;
  }
  .blog-post {
    width: 75%;
  }
}
